#----------------
# General Nginx configuration file for Micromix
#----------------

# NOTE - you will need to update the IP address to your servers IP address or domain name below

#----------------
# General config
#----------------

server {
        listen 80;
        server_name 192.100.12.87; # CHANGE: to server IP address or domain name
        error_page  405     =200 $uri;



#----------------
# Micromix site
#----------------

        location / {
                # CHANGE: this to where your dist/ folder is
                root /home/$USER/Micromix/Website/frontend/dist;
        }

        location /status {
               include proxy_params;
               proxy_pass http://192.100.12.87:5000; #CHANGE: this and following IP addresses - do not need to use domain name here 
       }

        location /config {
               include proxy_params;
                 proxy_pass http://192.100.12.87:5000; 
        }

        location /query {
               include proxy_params;
                 proxy_pass http://192.100.12.87:5000; 
        }

        location /health-check {
               include proxy_params;
                 proxy_pass http://192.100.12.87:5000; 
        }

        location /export {
               include proxy_params;
                 proxy_pass http://192.100.12.87:5000; 
        }

        location /locked {
               include proxy_params;
                 proxy_pass http://192.100.12.87:5000; 
        }

        location /active_plugin {
               include proxy_params;
                 proxy_pass http://192.100.12.87:5000; 
        }

        location /visualization {
               include proxy_params;
                 proxy_pass http://192.100.12.87:5000; 
        }

        location /plugins {
               include proxy_params;
                 proxy_pass http://192.100.12.87:5000; 
        }

        location /upload {
               include proxy_params;
                 proxy_pass http://192.100.12.87:5000; 
        }

        location /uploads {
               include proxy_params;
                 proxy_pass http://192.100.12.87:5000; 
        }


        location /matrix {
               include proxy_params;
                 proxy_pass http://192.100.12.87:5000; 
        }


}

